<style>
            


      h1 {
        font-size: 65px;
        color: orange;      
      }

      .list-style {
        background-color: red;
      }

      #amarelo {
        background-color: yellow;
      }

      #vermelho {
        background: red;
      }

      #marrom {
        background: brown;
      }

    </style>
  </head>
  <body>
    <style>
      body {
        font-size: 16px;
      }
      
      h1 {
        font-family: sans-serif;
      }

      p {
        font-weight: 600;
      }

      
    </style>